stamp-h1
libtool
config.status
config.log
config.h
config.h.in
Makefile.in
Makefile
autom4te.cache
configure
m4/
build-aux
aclocal.m4
po/POTFILES
po/stamp-it
src/PulseAudioMixerApplet.server
src/PulseAudioMixerApplet.server.in
src/pulseaudio-mixer-applet
po/.intltool-merge-cache
.bzr*
src/.libs
src/.deps
*.gmo

.dep.inc
nbproject
